/* Estilos básicos */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "Quicksand", sans-serif;
}
header {
    position: relative;
    border-bottom: 1px solid;
    border-color: #bb8f2f79;
    margin-left: 80px;
    margin-right: 80px;
    
}
main{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    margin-top: 70px;
    gap: 50px;
}
footer {
    position: relative;
    border-top: 1px solid;
    border-color: #bb8f2f79;
    margin-left: 80px;
    margin-right: 80px;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Class*/
    /*Estilos del header*/
        /*Estilos del menu*/
        .Nav {
            list-style: none;
            display: flex;
            gap: 20px;
        }
        .Nav > li {
            position: relative;
        }
        .Nav > li > a {
            text-decoration: none;
            color: white;
            padding: 10px;
            display: block;
        }
        /*Submenus*/
        .Nav li ul {
            display: none;
            position: absolute;
            background-color: black;
            top: 100%;
            left: 0;
            width: 130px;
            list-style: none;
            z-index: 1;
            box-shadow: 10px 10px 15px rgba(15, 15, 15, 0.5);
        }
        .Nav li ul li {
            position: relative;
        }
        .Nav li ul li a {
            color: white;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
        }
        /*Submenus anidados*/
        .Nav li ul li ul {
            top: 0px;
            left: 100%;
        }
        /*Mostrar submenus al pasar el mouse*/             
        .Nav li:hover > ul {
            display: block;
        }
        .Nav li a:hover {
            background-color: black;
            color: #bb8f2f;
        }
        .Desplegable li a:hover {
            background-color: #bb8f2f46;
            color: white;
        }

    /*Estilos del main*/
    .Seccion {
        width: 800px;
        height: 300px; 
        padding: 20px;
        background-color: #16161677;
        border-radius: 15px; 
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5); 
        display: flex;
        align-items: center;
        align-self: self-end;
        position: relative;
        right: 100px;
        gap: 20px;
        
    }   
    /* Menús redondos */
    .Menu {
        background-color: #bb8f2f;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }
        
    /*Estilos del footer*/
        /*Contenedor*/
        .Contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
        /*Estilos para derechos de la pagina*/
        .Derechos p {
            margin: 5px 0;
            font-size: 14px;
        }
        /* Estilos para redes sociales */
        .RedesSociales a {
            text-decoration: none;
            margin: 0 10px;
        }

        .RedesSociales img {
            width: 30px;
            height: 30px;
        }

/*Id*/
    /*Header*/
    #MenuDesplegable {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 20px;
        height: 120px;
        top: 10px;
        right: 20px;
    }
    #Logo{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120px;
        left: 40px;
    }
    /*Main*/
        #Ensalada1{
            position: relative;
            background-image: url(Imagenes/Menu/Comida/Ensaladas/Ensalada1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            right: 300px;
        }
        #Ensalada2{
            position: relative;
            background-image: url(Imagenes/Menu/Comida/Ensaladas/Ensalada2.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            right: 300px;
        } 
        #Ensalada3{
            position: relative;
            background-image: url(Imagenes/Menu/Comida/Ensaladas/Ensalada3.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            right: 300px;
        } 
        #Ensalada4{
            position: relative;
            background-image: url(Imagenes/Menu/Comida/Ensaladas/Ensalada4.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            right: 300px;
        } 
        #Ensalada5{
            position: relative;
            background-image: url(Imagenes/Menu/Comida/Ensaladas/Ensalada5.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            right: 300px;
        } 
        /*Titulos*/
        #TituloEnsalada1{
            position: relative;  
            top: -80px;
            right: 400px;
        }
        #TituloEnsalada2{
            position: relative;  
            top: -80px;
            right: 450px;
        }
        #TituloEnsalada3{
            position: relative;  
            top: -80px;
            right: 380px;
        }
        #TituloEnsalada4{
            position: relative;  
            top: -80px;
            right: 380px;
        }
        #TituloEnsalada5 {
            position: relative;  
            top: -80px;
            right: 300px;
        }
        /* Descripciones */
        #DescripcionEnsalada1 p, #DescripcionEnsalada2 p, #DescripcionEnsalada3 p, #DescripcionEnsalada4 p, #DescripcionEnsalada5 p {
            width: 600px;
            position: relative;
            top: 30px;
            right: 910px;
        }